root {
  --primarySilver: #EDEDED;
  --electricViolet: #9601FF;
  --richBlack: #070707;
  --intOrange: #F24C00;
}


.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerImg {
  width: 100%;
}

.navbar {
  background-color: var(--primarySilver);
  height: 5em;
}

.nav-menu {
  width: 35%;
  display: flex;
  justify-content: space-around;  
  /* align-items: center; */
}

.navbar > img {
  margin: 0 0 1em 1.6em;
}

.switchAccount {
  color: cadetblue;
  text-decoration: underline;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.shows-container {
  display: flex;
  /* background-color: wheat; */
}

.allShows {
  /* background-color: thistle; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainImg {
  cursor: pointer;
}

.individualShow {
  width: 32%;
  /* background-color: whitesmoke; */
  margin: 1em 0 1em 0;
}

.individualShow > img {
  width: 100%;
  height:11rem;
  /* height: auto; */

}

.individualShow > p {
  font-size: 0.6rem;
}

footer{
  background-color: #070707;
  color: whitesmoke;
  margin-top: 2em;
}

.navIcons {
  color: #CCCCCC;
  font-size: 1.2em;
  transition: color 0.3s ease-out;
  cursor: pointer;
}

.navIcons:hover {
  color: #9601FF;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sidePanel-container {
  background-color: #292929;
  color: whitesmoke;
}

.homeBody-container {
  width: 100%;
}